{% extends 'base.html' %} 

{% block title %} Login {% endblock %}

{% block content %} 
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/codigo.js" %}"></script>
<br>
<hr>
<div  class="col-md-4 col-md-offset-4" align="center"> 
<form action="." method="POST" id="formulario" role="form">
	{% csrf_token %}
	{{ mensaje }}
	{{ form.as_p }}
	{% if next %}
		<input type="hidden" value="{{ next }}" name="next">
	{% else %}
		<input type="hidden" value="/" name="next">
	{% endif %}
	<button class="btn btn-default" type="submit" >Acceder</button>
	<h5>Regístrate <a href="/registro/"> aqui</a></h5>
</form>
</div>
{% endblock %}
